<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>login</title>
</head>
<body>
    <div class="login-container">
    <h1>用户登录</h1>
    <body class="login-body">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
         <div class="form-group">
                <label for="id_user_name">用户名</label>
                {{ form.user_name }}
                <span class="error">{{ form.error_login }}</span>
            </div>
            <div class="form-group">
                <label for="id_user_password">密码</label>
                {{ form.user_password }}
                <span class="error">{{ form.error_password }}</span>
            </div>
            <input type="submit" value="登录">
        {% for message in messages %}
        <div class="error">{{ message }}</div>
    {% endfor %}
    </form>
</body>
</div>
</body>
</html>