{% load static %}
<!DOCTYPE html>
 <meta http-equiv="Cache-Control" content="max-age=7200" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
    <h1 align="center">主页</h1>
        
    <div class="searchmain">
        <div class="searchcontainer">
            <input type="text" placeholder="搜索" class="search">
            <button class="btnsearch">搜索</button>
        </div>
        <div class="login">
            <a class="niceButton3" href="/test/insert">用户插入测试</a>
            <a class="niceButton3" href="/user/add">注册</a>
            <a class="niceButton3" href="/user/login">登录</a>        
        </div>
    </div>
    
    <table>
    <thead>
        <tr>
          <th>用户名称</th>
          <th>用户密码</th>
          <th>用户电话</th>
          <th>用户年龄</th>
          <th>操作</th>
        </tr>
    </thead>
            {% for i in rw_list%}
                <tr>
                <td>{{i.user_name}}</td>
                <td>{{i.user_password}}</td>
                <td>{{i.user_number}}</td>
                <td>{{i.user_age}}</td>
                <td>
                <a class="niceButton2" href="http://127.0.0.1:8000/delete/?user_id={{i.user_id}}"style="text-decoration: none;">删除</a>
                </td>
                </tr>
            {% endfor %} 
    </table>
    <div>
</body>
</html>