<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <title>login</title>
</head>
<body>
    <h1>用户登录</h1>
    <body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <lable>用户名：{{form.user_name}}</lable>
        <span class="error">{{form.error}}</span>
        <lable>密码：{{form.user_password}}</lable>
        <span class="error">{{form.error}}</span>
        <input type="submit" value="登录">
    </form>
</body>
</body>
</html>